<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lachesis.windranger.authentication.dao.PrdReservationMapper" >
  <resultMap id="BaseResultMap" type="com.lachesis.windranger.authentication.dbmodel.PrdReservation" >
    <id column="seq_id" property="seqId" jdbcType="BIGINT" />
    <result column="product_type" property="productType" jdbcType="VARCHAR" />
    <result column="detail" property="detail" jdbcType="VARCHAR" />
    <result column="process_status" property="processStatus" jdbcType="VARCHAR" />
    <result column="attachment" property="attachment" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from prd_reservation
    where seq_id = #{seqId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lachesis.windranger.authentication.dbmodel.PrdReservation" >
    insert into prd_reservation (seq_id, product_type, detail, 
      process_status, attachment)
    values (#{seqId,jdbcType=BIGINT}, #{productType,jdbcType=VARCHAR}, #{detail,jdbcType=VARCHAR}, 
      #{processStatus,jdbcType=VARCHAR}, #{attachment,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.lachesis.windranger.authentication.dbmodel.PrdReservation" >
    update prd_reservation
    set product_type = #{productType,jdbcType=VARCHAR},
      detail = #{detail,jdbcType=VARCHAR},
      process_status = #{processStatus,jdbcType=VARCHAR},
      attachment = #{attachment,jdbcType=VARCHAR}
    where seq_id = #{seqId,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select seq_id, product_type, detail, process_status, attachment
    from prd_reservation
    where seq_id = #{seqId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select seq_id, product_type, detail, process_status, attachment
    from prd_reservation
  </select>
  <delete id="removeKeysWithSession" parameterType="java.util.List" >
    delete from prd_reservation where seq_id IN <foreach close=")" collection="list" index="index" item="item" open="(" separator=","> #{item} </foreach>
  </delete>
  <delete id="deleteByBean" parameterType="java.lang.Long" >
    delete from prd_reservation where 1=1 
    <if test="seqId!=null" >
      and seq_id = #{seqId,jdbcType=BIGINT}
    </if>
    <if test="productType!=null" >
      and product_type = #{productType,jdbcType=VARCHAR}
    </if>
    <if test="detail!=null" >
      and detail = #{detail,jdbcType=VARCHAR}
    </if>
    <if test="processStatus!=null" >
      and process_status = #{processStatus,jdbcType=VARCHAR}
    </if>
    <if test="attachment!=null" >
      and attachment = #{attachment,jdbcType=VARCHAR}
    </if>
  </delete>
  <delete id="deleteAll" >
    delete from prd_reservation
  </delete>
  <insert parameterType="com.lachesis.windranger.authentication.dbmodel.PrdReservation" id="insertAndReturnKey" keyProperty="seqId" useGeneratedKeys="true" >
    insert into prd_reservation (seq_id, product_type, detail, 
      process_status, attachment)
    values (#{seqId,jdbcType=BIGINT}, #{productType,jdbcType=VARCHAR}, #{detail,jdbcType=VARCHAR}, 
      #{processStatus,jdbcType=VARCHAR}, #{attachment,jdbcType=VARCHAR})
  </insert>
  <insert id="insertBatch" parameterType="java.util.List" >
    insert into prd_reservation (product_type,detail,process_status,attachment ) values <foreach collection="list" index="index" item="item" separator=",">(#{item.productType},#{item.detail},#{item.processStatus},#{item.attachment})</foreach>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lachesis.windranger.authentication.dbmodel.PrdReservation" >
    update prd_reservation set
    <trim suffixOverrides="," >
      <if test="productType != null" >
        product_type = #{productType,jdbcType=VARCHAR},
      </if>
      <if test="detail != null" >
        detail = #{detail,jdbcType=VARCHAR},
      </if>
      <if test="processStatus != null" >
        process_status = #{processStatus,jdbcType=VARCHAR},
      </if>
      <if test="attachment != null" >
        attachment = #{attachment,jdbcType=VARCHAR}
      </if>
    </trim>
     where seq_id = #{seqId,jdbcType=BIGINT}
  </update>
  <select id="selectByBean" resultMap="BaseResultMap" parameterType="com.lachesis.windranger.authentication.dbmodel.PrdReservation" >
    select * from prd_reservation where 1=1 
    <if test="seqId!=null" >
      and seq_id = #{seqId,jdbcType=BIGINT}
    </if>
    <if test="productType!=null" >
      and product_type = #{productType,jdbcType=VARCHAR}
    </if>
    <if test="detail!=null" >
      and detail = #{detail,jdbcType=VARCHAR}
    </if>
    <if test="processStatus!=null" >
      and process_status = #{processStatus,jdbcType=VARCHAR}
    </if>
    <if test="attachment!=null" >
      and attachment = #{attachment,jdbcType=VARCHAR}
    </if>
  </select>
  <select id="countByBean" resultType="int" parameterType="com.lachesis.windranger.authentication.dbmodel.PrdReservation" >
    select count(0) from prd_reservation where 1=1 
    <if test="seqId!=null" >
      and seq_id = #{seqId,jdbcType=BIGINT}
    </if>
    <if test="productType!=null" >
      and product_type = #{productType,jdbcType=VARCHAR}
    </if>
    <if test="detail!=null" >
      and detail = #{detail,jdbcType=VARCHAR}
    </if>
    <if test="processStatus!=null" >
      and process_status = #{processStatus,jdbcType=VARCHAR}
    </if>
    <if test="attachment!=null" >
      and attachment = #{attachment,jdbcType=VARCHAR}
    </if>
  </select>
</mapper>