<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lachesis.windranger.authentication.dao.SysImageMapper" >
  <resultMap id="BaseResultMap" type="com.lachesis.windranger.authentication.dbmodel.SysImage" >
    <id column="seq_id" property="seqId" jdbcType="BIGINT" />
    <result column="file_name" property="fileName" jdbcType="VARCHAR" />
    <result column="file_type" property="fileType" jdbcType="VARCHAR" />
    <result column="length" property="length" jdbcType="BIGINT" />
    <result column="create_person" property="createPerson" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="url" property="url" jdbcType="LONGVARBINARY" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sys_image
    where seq_id = #{seqId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lachesis.windranger.authentication.dbmodel.SysImage" >
    insert into sys_image (seq_id, file_name, file_type, 
      length, create_person, create_time, 
      url)
    values (#{seqId,jdbcType=BIGINT}, #{fileName,jdbcType=VARCHAR}, #{fileType,jdbcType=VARCHAR}, 
      #{length,jdbcType=BIGINT}, #{createPerson,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{url,jdbcType=LONGVARBINARY})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.lachesis.windranger.authentication.dbmodel.SysImage" >
    update sys_image
    set file_name = #{fileName,jdbcType=VARCHAR},
      file_type = #{fileType,jdbcType=VARCHAR},
      length = #{length,jdbcType=BIGINT},
      create_person = #{createPerson,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      url = #{url,jdbcType=LONGVARBINARY}
    where seq_id = #{seqId,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select seq_id, file_name, file_type, length, create_person, create_time, url
    from sys_image
    where seq_id = #{seqId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select seq_id, file_name, file_type, length, create_person, create_time, url
    from sys_image
  </select>
  <delete id="removeKeysWithSession" parameterType="java.util.List" >
    delete from sys_image where seq_id IN <foreach close=")" collection="list" index="index" item="item" open="(" separator=","> #{item} </foreach>
  </delete>
  <delete id="deleteByBean" parameterType="java.lang.Long" >
    delete from sys_image where 1=1 
    <if test="seqId!=null" >
      and seq_id = #{seqId,jdbcType=BIGINT}
    </if>
    <if test="fileName!=null" >
      and file_name = #{fileName,jdbcType=VARCHAR}
    </if>
    <if test="fileType!=null" >
      and file_type = #{fileType,jdbcType=VARCHAR}
    </if>
    <if test="length!=null" >
      and length = #{length,jdbcType=BIGINT}
    </if>
    <if test="createPerson!=null" >
      and create_person = #{createPerson,jdbcType=VARCHAR}
    </if>
    <if test="createTime!=null" >
      and create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
  </delete>
  <delete id="deleteAll" >
    delete from sys_image
  </delete>
  <insert parameterType="com.lachesis.windranger.authentication.dbmodel.SysImage" id="insertAndReturnKey" keyProperty="seqId" useGeneratedKeys="true" >
    insert into sys_image (seq_id, file_name, file_type, 
      length, create_person, create_time, 
      url)
    values (#{seqId,jdbcType=BIGINT}, #{fileName,jdbcType=VARCHAR}, #{fileType,jdbcType=VARCHAR}, 
      #{length,jdbcType=BIGINT}, #{createPerson,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{url,jdbcType=LONGVARBINARY})
  </insert>
  <insert id="insertBatch" parameterType="java.util.List" >
    insert into sys_image (file_name,file_type,length,create_person,create_time ) values <foreach collection="list" index="index" item="item" separator=",">(#{item.fileName},#{item.fileType},#{item.length},#{item.createPerson},#{item.createTime})</foreach>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lachesis.windranger.authentication.dbmodel.SysImage" >
    update sys_image set
    <trim suffixOverrides="," >
      <if test="fileName != null" >
        file_name = #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="fileType != null" >
        file_type = #{fileType,jdbcType=VARCHAR},
      </if>
      <if test="length != null" >
        length = #{length,jdbcType=BIGINT},
      </if>
      <if test="createPerson != null" >
        create_person = #{createPerson,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
    </trim>
     where seq_id = #{seqId,jdbcType=BIGINT}
  </update>
  <select id="selectByBean" resultMap="BaseResultMap" parameterType="com.lachesis.windranger.authentication.dbmodel.SysImage" >
    select * from sys_image where 1=1 
    <if test="seqId!=null" >
      and seq_id = #{seqId,jdbcType=BIGINT}
    </if>
    <if test="fileName!=null" >
      and file_name = #{fileName,jdbcType=VARCHAR}
    </if>
    <if test="fileType!=null" >
      and file_type = #{fileType,jdbcType=VARCHAR}
    </if>
    <if test="length!=null" >
      and length = #{length,jdbcType=BIGINT}
    </if>
    <if test="createPerson!=null" >
      and create_person = #{createPerson,jdbcType=VARCHAR}
    </if>
    <if test="createTime!=null" >
      and create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
  </select>
  <select id="countByBean" resultType="int" parameterType="com.lachesis.windranger.authentication.dbmodel.SysImage" >
    select count(0) from sys_image where 1=1 
    <if test="seqId!=null" >
      and seq_id = #{seqId,jdbcType=BIGINT}
    </if>
    <if test="fileName!=null" >
      and file_name = #{fileName,jdbcType=VARCHAR}
    </if>
    <if test="fileType!=null" >
      and file_type = #{fileType,jdbcType=VARCHAR}
    </if>
    <if test="length!=null" >
      and length = #{length,jdbcType=BIGINT}
    </if>
    <if test="createPerson!=null" >
      and create_person = #{createPerson,jdbcType=VARCHAR}
    </if>
    <if test="createTime!=null" >
      and create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
  </select>
</mapper>